{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}

<form action="{{ path('connexion') }}" method="post">
    <div class="container">
        <br><br>
        <div class="col-sm-10">
                <h5>Se connecter</h5><br><br>
                {% if error %}
                     <div class="alert alert-dismissible alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>

    <div class="form-group">
    <div class="col-sm-10">
    <label for="username">Username</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
    </div>
    </div>

    <br>

    <div class="form-group">
    <div class="col-sm-10">
    <label for="password">Password</label>
    <input type="password" id="password" name="_password" class="form-control"/>
    </div>
    </div>

    <br>
    {#
    If you want to control the URL the user
    is redirected to on success (more details below)
    <input type="hidden" name="_target_path" value="/account" />
    #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="col-sm-10">
    <button type="submit" class="btn btn-success">Login!</button><br><br>
    <a href="/register">S'inscrire</a>
    </div>

</div>
</form>
{% endblock %}
