{# templates/emails/registration.html.twig #}
<h3>Account edit</h3>

Hi {{ name }}! You're account are successfully edit.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('connexion') }}">Go to login</a>.

Thanks!